.profile-page, body{
  background-color: #2b4c7e;
}
.content{
  padding: 30px 20px 40px 20px;
}
.profile-page .content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
}

.profile-page .profile-card {
  flex: 0 1 30%; /* Ajusta el ancho del perfil */
  min-width: 300px; /* Asegura que no se reduzca demasiado el tamaño */
}

.profile-page .other-cards {
  flex: 1.5;
  min-width: 300px; /* Asegura que no se reduzca demasiado el tamaño */ 
}

.profile-page .menu-bar {
  display: flex; /* Cambiado para que se ajuste al contenido */
  justify-content: center; /* Centra los elementos del menú */
  gap: 20px; /* Espacio entre los elementos del menú */
  margin-top: 5%; /* Espacio entre las cards y el menu */
}

.ant-card > .ant-card-body {
  padding: 10px; /* Espaciado dentro de las tarjetas */
}


.profile-page .about-card {
  margin-top: 2vh; /* Agrega espacio entre la parte superior del profile card y la sección "Sobre mí" */
}

.post-card {
  margin-bottom: 2vh;
}

.media-content {
  display: flex;
  gap: 20px; /* Añadimos separación entre los divs dentro de media-content */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  margin-top: 2vh;
}

.media-content-card, .mid-cards {
  width: 50%; /* Ambos ocupan el 50% del espacio disponible */
}

@media (min-width: 768px) and (max-width: 1000px) {
  .media-content {
    flex-direction: column; /* Cambia la dirección a columna */
  }

  .media-content-card,
  .mid-cards {
    width: 100%; /* Ambos divs ocupan el 100% del ancho */
  }
}

/* Media query para pantallas menores de 768px */
@media (max-width: 768px) {
  .media-content {
    flex-direction: column; /* Cambia la dirección a columna */
  }

  .media-content-card,
  .mid-cards {
    width: 100%; /* Ambos divs ocupan el 100% del ancho */
  }

  .profile-page .content {
    flex-direction: column; /* Cambia la disposición de las cards a columna */
    align-items: center; /* Alinea los elementos al centro */
  }
}

@media (max-width: 515px) {
  .profile-card{
    width: 56vh;
  }
}

