.App {
  background-color: grey;
  display: flex;
  width: 100%;
  height: 100vh; /* Aseguramos que ocupe el 100% de la altura de la ventana */
  margin: 0; /* Eliminamos el margen para evitar desbordamiento */
  overflow: hidden; /* Evitamos el scroll */
}

.Mitad_Izquierda {
  width: 40%; /* Ocupa el 40% del ancho */
  align-items: center;
  justify-content: center;
  height: 100%; /* Ocupa el 100% de la altura disponible */
}

.Mitad_Derecha {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Esto asegura que haya dos columnas */
  gap: 20px; /* Espacio entre las cards */
  padding: 0.5%;
  width: 60%; /* Ancho del contenedor */
  height: 100%; /* Altura del contenedor */
}


