.App {
  background-color: rgb(90, 90, 90);
  display: flex;
  width: 100%;
  height: 100vh; /* Asegura que ocupe el 100% de la altura de la ventana */
  overflow: hidden; /* Evita el scroll global */
  padding: 5px;
}

.Mitad_Izquierda {
  width: 40%; /* Ocupa el 40% del ancho */
  display: flex;
  justify-content: center;
  margin-right: 5px; /* Espacio entre las cards */
}

.Mitad_Derecha {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 5px; /* Espacio entre las cards */
  width: 60%; /* Ancho del contenedor */
  height: 100%; /* Altura del contenedor */
  overflow-y: auto; /* Permite desplazamiento vertical si es necesario */
}

.card1, .card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; /* Fondo blanco para las tarjetas */
  overflow: hidden; /* Evita el desbordamiento */
  padding: 0;
  margin: 0;

}

.card3 {
  display: grid;
  grid-template-columns: 1fr; /* Una columna para las tarjetas */
  gap: 16px; /* Espacio entre las tarjetas */
  height: 100%; /* Altura del contenedor */
  overflow-y: auto; /* Permite desplazamiento vertical si las tarjetas exceden la altura */
  scrollbar-width: none; /* Firefox */
}

.card4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  grid-template-rows: repeat(2, 1fr); /* 2 filas */
  gap: 16px;
  width: 100%;
  height: 100%;
}

.expanded-card { 
  width: 100%; 
  height: 100%; 
  transition: all 0.3s ease-in-out;
  position: fixed; 
  top: 0; 
  left: 0; 
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  z-index: 999; /* Asegura que esté por encima de otros elementos */ 
  color: white;
}
